body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f1f1f1;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 20px;
}

.boton-jugada {
  background-color: #3498db;
  color: #fff;
  padding: 18px 24px;
  font-size: 20px;
  cursor: pointer;
  width: 150px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.boton-jugada:hover {
  background-color: #2980b9;
}

#resultados {
  font-size: 20px;
  margin: 20px 0;
  display: none;
  flex-direction: row; 
  justify-content: center;
  gap: 30px;
  border: 2px solid #2980b9;
  border-radius: 5px;
  padding: 20px;
}

#resultados * {
  font-weight: bold;
}

#contenedor-puntuacion {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border:2px solid orange;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#contador-usuario, #contador-ordenador {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin: 10px;
  font-weight: bold;
}